@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
    src: url(../font/open-sans/OpenSans-Regular.ttf);
    src: url(../font/Montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: 'Century Gothic';
    /* src: url(../font/Century-Gothic/century-gothic.ttf); */
    src: url(../font/Century-Gothic/centurygothic.ttf);
    /* src: url(../font/Century-Gothic/gothic.ttf);
    src: url(../font/Century-Gothic/gothicb.ttf);
    src: url(../font/Century-Gothic/gothicb0.ttf);  */
}

fieldset {
    margin: 0px;
    padding: 1px;
    border: 1px solid #6caef5;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

* {
    font-size: 12px;
}

body {
    font-family: 'Segoe UI', roboto, verdana, helvetica, arial, sans-serif;
    padding: 0px;
    font-size: 11px;
    margin: 0;
}

.link_menu {
    font-family: 'Segoe UI', roboto, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

#v_modul {
    font-family: 'Segoe UI', roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*margin:0.5px;*/
}

#label_form {
    font-family: 'Segoe UI', Roboto, verdana, sans-serif, tahoma, calibri;
    font-size: 11px;
    font-weight: bold;
}

.font-normal {
    text-transform: none;
}

.font-header-form {
    font-family: 'Segoe UI', 'Acme', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: white;
}

.font-header-menu {
    font-family: 'Segoe UI', 'acme', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #37474f;
}

input:-moz-read-only {
    background-color: #F0F0F0;
}

input:read-only {
    background-color: #F0F0F0;
}

#label_laporan {
    font-family: 'Segoe UI', roboto, Verdana, Geneva, sans-serif;
    font-size: 11px;
}

#form_cetak {
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

.number {
    font-family: 'Segoe UI', roboto, tahoma;
    text-align: right;
}

.date {
    font-family: 'Segoe UI', roboto, tahoma;
    width: 90px;
}

.numberbox-f {
    font-family: 'Segoe UI', roboto, tahoma;
    text-align: right;
}

.numberbox .textbox-text {
    font-family: 'Segoe UI', roboto, tahoma;
    text-align: right;
}

/* */

.textbox .textbox-text {
    font-family: 'Segoe UI', roboto, tahoma;
    font-size: 11px;
}

/* */

.datagrid-cell {
    font-family: 'Segoe UI', 'Nunito Sans', tahoma;
    font-size: 11px;
}

/* */

.datagrid-view .datagrid-editable-input {
    font-family: 'Segoe UI', roboto, tahoma;
    font-size: 11px;
}

#lbl_kasir {
    font-family: 'Segoe UI', roboto, tahoma;
    font-size: 10px;
}

#lbl_tanggal {
    font-family: 'Segoe UI', roboto, tahoma;
    font-size: 10px;
}

.tab_form {
    width: 99%;
    height: 98%;
}

fieldset table tr td {
    font-family: 'Segoe UI', roboto, tahoma;
    white-space: nowrap;
}

.btn-menu-utama {
    font-family: 'Segoe UI', roboto, tahoma;
    background-color: #ef6c00;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-menu-utama:hover {
    font-family: 'Segoe UI', roboto, tahoma;
    background-color: #cc5c00;
}

.tabs-title {
    font-family: 'Segoe UI', roboto, tahoma;
    font-size: 15px;
}

.btn-group-transaksi,
.btn-group-laporan {
    font-family: 'Segoe UI', roboto, tahoma;
    width: 40px;
    padding: 5px;
}

.btn-group-transaksi .easyui-linkbutton,
.btn-group-laporan .easyui-linkbutton {
    font-family: 'Segoe UI', roboto, tahoma;
    margin-bottom: 5px;
    display: block;
}

.btn-group-transaksi .easyui-linkbutton span,
.btn-group-laporan .easyui-linkbutton span {
    font-family: 'Segoe UI', roboto, tahoma;
    line-height: normal;
}

.btn-group-transaksi .btn-menu-utama,
.btn-group-laporan .btn-menu-utama {
    font-family: 'Segoe UI', roboto, tahoma;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    padding: 5px 5px;
}

.panel-filter-laporan {
    font-family: 'Segoe UI', roboto, tahoma;
    width: 300px;
    background: #e0f7fa;
}

table.p-0 {
    border-spacing: 0;
}

table.p-0 tr td {
    padding: 0;
}

/* Button simpan & cetak */

#window_button_simpan,
#window_button_cetak {
    padding: 15px 10px 10px;
}

.button_add,
.button_add_print,
.button_wa {
    font-family: 'Segoe UI', roboto, tahoma;
    height: 40px;
    background-color: #005380;
    cursor: pointer;
    width: 165px;
}

.button_add span.text {
    padding-left: 20px;
}

.button_add_print span.text {
    padding-left: 30px;
}

.button_add:hover,
.button_add_print:hover,
.button_add:hover {
    background-color: #96c7f0;
}

.button_add,
.button_add:hover {
    background-image: url("../images/simpan.png");
    background-repeat: no-repeat;
    background-position: 2% 10%;
    background-size: 34px 34px;
}

.button_add_print,
.button_add_print:hover {
    background-image: url("../images/view.png");
    background-repeat: no-repeat;
    background-position: 2% 10%;
    background-size: 34px 34px;
}

.button_wa,
.button_wa:hover {
    background-image: url("../images/whatsapp.png");
    background-repeat: no-repeat;
    background-position: 2% 10%;
    background-size: 34px 34px;
}

.text-white {
    color: #fff;
}

.d-inline {
    display: inline;
}

.icon-xls{
	background:url('../images/xls.png') no-repeat center center;
}
